<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/assets/favicon-5a70020b.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="//qn.uwitkey.com/fontawesome5/css/all.min.css" />
        <!-- <link rel="stylesheet" href="//aszx0413.gitee.io/assets/css/index.css" /> -->
        <title>MyBug</title>
        <style>
            .arco-trigger-popup {
                z-index: 1090 !important;
            }
        </style>
      <script type="module" crossorigin src="/assets/app-a6fae361.js"></script>
      <link rel="stylesheet" href="/assets/index-43cf9438.css">
    </head>

    <body style="height: 100% !important">
        <div id="app" class="h-100"></div>
        
    </body>
</html>
