<div class="container project-title mt-5">
    <div class="row">

        {foreach $data as $value}
        <div class="col-sm-3 mt-5">
            <div class="project card text-center">
                <h5 class="card-title mt-3 "><a class="projectId" href="/issue/list?project_id=<?=$value['id']?>"><?=$value['name']?></a></h5>
                <img src="<?=imgCover($value['img_cover'])?>" class="rounded mx-auto d-block mt-3" style="width: 30%;" alt="...">
                <div class="card-body">
                    <p class="card-text" style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;"><?=$value['description']?></p>
                    <small class="card-text"><?=$value['created_at']?></small>

                    <?php if($curUser['role_id']==1):?>
                    <a href="/home/edit?id=<?=$value['id']?>" class="d-block mt-3">
                        <button type="button" class="btn btn-outline-none">设置</button>
                    </a>
                    <?php endif;?>
                </div>
            </div>
        </div>
        {/foreach}
    </div>
</div>