<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/simple-ajax-uploader/2.6.7/SimpleAjaxUploader.min.js" type="application/javascript"></script>

<div class="container-fluid mt-5 pt-5">
    <div class="container col-6">
        <form class="form1" method="post" action="">
            <input type="hidden" name="id" value="<?=$row['id']?>">
            <div class="row mb-3">
                <label class="col-form-label col-2 pe-0">项目封面：</label>
                <div class="col-2">
                    <div class="border ratio ratio-1x1 bg-light" id="ssUpload">
                        <?php if($row['img_cover']):?>
                        <img class="w-100" src="<?=imgCover($row['img_cover'])?>">
                        <?php else:?>
                        <div class=" d-flex align-items-center justify-content-center">
                            <i class="far fa-plus display-4"></i>
                        </div>
                        <?php endif;?>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-form-label col-2 pe-0">项目名称：</label>
                <div class="col-10">
                    <input type="text" class="form-control" name="name" value="<?=$row['name']?>">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-form-label col-2 pe-0">项目描述：</label>
                <div class="col-10">
                    <textarea class="form-control" rows="3" name="description"><?=$row['description']?></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-form-label col-2 pe-0">项目模块：</label>
                <div class="col-4">
                    <select class="form-select" name="add_module_parent_id">
                        <option value="0">一级模块</option>
                        <?php foreach($firstModuleList as $v):?>
                        <option value="<?=$v['id']?>"><?=$v['name']?></option>
                        <?php endforeach;?>
                    </select>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="add_module_name" placeholder="新增">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-form-label col-2 pe-0"></label>
                <div class="col">
                    <?php foreach($firstModuleList as $v):?>
                    <div class="mb-2">
                        <?=$v['name']?>
                    </div>
                    <?php foreach($v->children as $v2):?>
                    <div class="mb-2">
                        ----<?=$v2['name']?>
                    </div>
                    <?php endforeach;?>
                    <?php endforeach;?>
                </div>
            </div>

            <div class="row mt-5 mb-3">
                <div class="col-8 offset-2">
                    <button class="btn btn-outline-primary" type="submit" id="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(() => {
        new ss.SimpleUpload({
            button: $('#ssUpload')[0],
            name: 'file',
            url: '/common/upload',
            onComplete: function(filename, response) {
                let resp = JSON.parse(response)
                console.log(filename);
                console.log(resp);

                let h = `
                    <img  class="w-100" src="${resp.data.fullUrl}">
                    <input type="hidden" name="img_cover" value="${resp.data.url}" />
                `;
                $('#ssUpload').html(h)
            }
        })
    })

    // 模块删除
    $('.button').click(function() {
        var id = $(this).val();
        console.log(id)
        $.ajax({
            type: 'post',
            url: '/home/del',
            data: {
                id: id
            },
            success: function() {
                window.location.reload();
            }
        })
    })

    // 通过点击img时，触发上传文本框；dblclick()双击事件
    $("#userPicture").dblclick(function() {
        $("#upPortrait").click();
        $(".form1").attr("enctype", "multipart/form-data")

    });

    $(document).ready(function() {
        $("#upPortrait").change(function() {

            let type = this.files[0].name;
            let fileName = type.substring(type.lastIndexOf(".") + 1).toLowerCase();
            if (fileName != "jpg" && fileName != "jpeg" && fileName != "png" && fileName != "gif") {
                alert("请上传jpg，png，jpeg，gif 类型的图片");
                window.location.reload();
                return false;
            }

            var obj = pic_ture(this.files[0]);
        })
    })

    function pic_ture(pic) {
        var r = new FileReader();
        r.readAsDataURL(pic);
        r.onload = function(e) {
            $("#userPicture").attr("src", this.result).show()
        }
    }
</script>