<div class="h-100 bg-white px-4 py-3 overflow-auto">

    <div class="row mb-3">
        <div class="col" data-id="<?=$row['id']?>">

            <button type="button" class="btn btn-outline-secondary issue-act" data-type="<?=\app\models\IssueLog::TYPE_COMMENT?>">评论</button>

            <button type="button" class="btn btn-outline-secondary issue-act" data-type="<?=\app\models\IssueLog::TYPE_ASSIGN?>">指派</button>

            <?php if($row['status'] == \app\models\Issue::STATUS_NOTSOLVE):?>

            <button type="button" class="btn btn-outline-success issue-act" data-type="<?=\app\models\IssueLog::TYPE_FIX?>">修复</button>
            <button type="button" class="btn btn-outline-danger issue-act" data-type="<?=\app\models\IssueLog::TYPE_REJECT?>">驳回</button>
            <?php endif;?>

            <?php if($row['status'] == \app\models\Issue::STATUS_AUDIT):?>
            <button type="button" class="btn btn-outline-danger issue-act" data-type="<?=\app\models\IssueLog::TYPE_VER_REJECT?>">不通过</button>
            <button type="button" class="btn btn-outline-success issue-act" data-type="<?=\app\models\IssueLog::TYPE_FINISH?>">通过</button>
            <?php endif;?>


            <!-- <a type="button" class="border float-end p-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-trash-can" id="delete"></i>
            </a> -->

            <!-- <a type="button" class="float-end me-2 border p-1" href="/issue/edit?id=<?=$row['id']?>">
                <i class="fa-solid fa-pen-to-square"></i>
            </a> -->

            <!-- 删除 -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabels" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabels">提示</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            确认要删除吗？
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" value="<?=$row['id']?>" id="value">确定</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5 class="mb-3">#<?=$row['id']?> <?=$row['title']?></h5>
        </div>
    </div>

    <?php foreach($row->issueLogList()->order('id ASC')->select() as $v):?>
    <div class="row mb-3">
        <div class="col-12">
            <span class="badge bg-<?=\app\models\IssueLog::TYPE_STYLE[$v['type']]?>">
                <?=\app\models\IssueLog::TYPE[$v['type']]?>

                <i class="lar la-calendar-plus"></i>
                <?=substr($v->created_at,5)?>

                <i class="las la-user"></i>

                <?=$v['user']['username']?>

            </span>
            <?php if($v['next_user_id'] == 0):?>


            <?php else: ?>
            <i class="las la-arrow-right"></i>
            <span class="badge bg-primary">
                <i class="las la-user"></i>
                <?=$v['nextUser']['username']?>
            </span>
            <?php endif;?>
            <div class="border p-3">
                <?=$v['content']?>
            </div>
        </div>
    </div>
    <?php endforeach;?>

</div>

<script type="text/javascript">
    function ClickInput() {
        // 动态给文件打开框触发点击事件
        document.getElementById("img_cover").click();
    }

    // 图片处理
    function showPreview(source) {
        var file = source.files[0];
        let type = source.files[0].name;
        let fileName = type.substring(type.lastIndexOf(".") + 1).toLowerCase();
        if (fileName != "jpg" && fileName != "jpeg" && fileName != "png" && fileName != "gif") {
            alert("请上传jpg，png，jpeg，gif 类型的图片");
            // console.log(source)
            $("#img_cover").val('')
            return false;
        }

        if (window.FileReader) {
            var fr = new FileReader();
            var send_content = document.getElementById('send_content');

            var formData = new FormData();
            formData.append('file', file);

            fr.onloadend = function(e) {
                send_content.src = e.target.result;
                send_content.focus();

                $.ajax({
                    url: '/issue/ajaxUpload',
                    type: 'post',
                    async: false,
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function(data) {

                        $("#send_content").append('<img src=" ' + data + '  " style=" width:auto; height:auto; max-width:100%; max-height:100%;cursor: pointer;" class="enlargeImg">')
                        //document.execCommand('InsertImage', false, data);
                    }
                })
            }
        }
        fr.readAsDataURL(file);
    }

    // 查看大图
    $(function() {
        enlargeImg();
    })

    function enlargeImg() {

        $(".enlargeImg").click(function() {
            $('.imgBox').html("<div class='enlargeImg_wrapper' style='cursor: pointer;'></div>");
            var imgSrc = $(this).attr('src');

            $(".enlargeImg_wrapper").css("background-image", "url(" + imgSrc + ")");
            $('.enlargeImg_wrapper').fadeIn(200);
        })
        $('.imgBox').on('click', '.enlargeImg_wrapper', function() {
            $('.enlargeImg_wrapper').fadeOut(200)
        })
    }

    // 提交内容
    $(".submit").click(function() {
        let type = $("#type").val()
        let issue_id = $("#issue_id").val()
        let curUser = $("#curUser").val()
        let content = document.getElementById("send_content").innerHTML;

        $(".textarea").val(content)

        console.log($(".textarea").val())
        if (content == "") {
            $('.tips').html("内容不能为空")

            return false;
        }

        $.ajax({
            url: '/issue/log',
            type: 'post',
            data: {
                type,
                issue_id,
                content,
                curUser
            },
            success: resp => {
                if (resp.code == 1) {
                    location.href = "/issue/list?project_id=" + '<?=$row["project_id"]?>';
                } else {
                    $('.tips').html(resp.msg)
                }
            },
        })

        return false;
    })

    // 修改指派人
    // $(".assign_submit").click(function() {
    //     let type = $("#assign_type").val()
    //     let cur_user_id = $("#cur_user_id").val()
    //     let issue_id = $("#assign_issue_id").val()
    //
    //     $.ajax({
    //         url: '/issue/editLog',
    //         type: 'post',
    //         data: {
    //             type,
    //             cur_user_id,
    //             issue_id,
    //         },
    //         success: resp => {
    //             if (resp.code == 1) {
    //                 location.href = "/issue/list?project_id=" + '<?=$row["project_id"]?>';
    //             } else {
    //                 $('.tips').html(resp.msg)
    //             }
    //         },
    //     })
    //
    //     return false;
    //
    // })

    // 删除
    $("#value").click(function() {
        var id = $("#value").val()
        console.log(id)
        $.ajax({
            url: '/issue/delete',
            type: 'post',
            data: {
                id
            },
            success: function() {
                window.location.reload();
            }

        })
    })

    $(".button").click(function() {
        $("#send_content").empty()
        console.log(11)
    })
</script>