<style>
    html {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    body{
        box-sizing: border-box !important;
    }

    .login-box {
        width: 500px;
    }

    .h-3r {
        height: 3rem !important;
    }

    canvas {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
    }
</style>
<canvas id="canvas"></canvas>
<div class="container-fluid d-flex w-100 h-100 align-items-center justify-content-center">
    <div class="login-box px-5 py-4 bg-light">
        <form action="/user/email" method="post">
            <div class="form-group mt-3">
                <input type="email" class="form-control username" placeholder="请输入邮箱" name="email">
            </div>
            <div class="form-group mt-3 row px-3">
                <div class="col-8 ps-0">
                    <input type="text" class="form-control pwd" placeholder="请输入验证码" name="code">
                </div>
                <button type="button" class="btn col-4 btn-outline-secondary px-0" id="btn">获取验证码</button>
            </div>
            <div class="form-group d-grid mt-4">
                <button type="submit" class="btn btn-block btn-primary smt" id="btnSend">绑定邮箱</button>
            </div>
            <div class="h-3r d-flex align-items-center justify-content-center">
                <span class="text-danger tips"></span>
            </div>
        </form>
    </div>
</div>
<script src="/assets/js/canvas_cirecle.js"></script>
<script>

    $("#btn").click(function () {
        $(".tips").html('')
        let email = $("input[name=email]").val();
        let check='^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\\.[a-zA-Z0-9_-]+)+$';
        if(!email.match(check) && email!="") {
            $(".tips").html("请输入正确邮箱格式");
            return false;
        }

        let time = 60;
        if (!email) {
            $(".tips").html('邮箱不能为空')
            return false;
        }

        $.ajax({
            type: 'post',
            url: "/user/email",
            data: {
                email
            },
            success: resp => {
                if (resp.code == 1) {
                    $("#btn").prop("disabled", true)
                    var t = setInterval(function() {
                        if (time > 0) {
                            $("#btn").html("请"  + --time + "秒后重试");
                        } else {
                            clearInterval(t);
                            $("#btn").html("获取验证码");
                            $("#btn").prop("disabled", false)
                            time = 60;
                        }
                    }, 1000);
                } else {
                    $('.tips').html(resp.msg);
                }
            },
        })

        return false;
    })

    $("#btnSend").click(function () {
        $(".tips").html('')
        let email = $("input[name=email]").val(),
            code = $("input[name=code]").val();



        if (!email) {
            $(".tips").html('邮箱不能为空')
            return false;
        }

        if (!code) {
            $(".tips").html('验证码不能为空')
            return false;
        }

        $.ajax({
            type: 'post',
            url: "/user/bindEmail",
            data: {
                email,
                code
            },
            success: resp => {
                if (resp.code == 1) {
                    $(".tips").html("绑定邮箱成功")
                    window.setTimeout(function () {
                        window.location.reload();
                    },2000)
                } else {
                    $('.tips').html(resp.msg)
                }
            },
        })

        return false;
    })

</script>